<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:pink;
        }
        .h1 {
            display: flex;
            justify-content: center;
            align-items: center;
          
        }
        h1{
            color:red;
            font-style: italic;
            font-size: 50px;
        }

        div {
            display: flex;
            gap: 5vw;
        }

        img {
            width: 23vw;
            height: 53vh;

        }
    </style>

</head>

<body>
    <h1>welcom You Are Logged in</h1>
</body>

</html>